body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.login-container {
    text-align: center;
    background-color: black;
    padding: 40px 60px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 400px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.logo {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: auto;
}

label {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-align: left;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background: linear-gradient(to right, #2193b0, #6dd5ed);
}

p {
    margin-top: 20px;
    color: white;
}

a {
    color: #6dd5ed;
    text-decoration: none;
}

a:hover {
    color: #176687;
    text-decoration: underline;
}
